*{
    margin:0;
    padding:0;
}
#homepage{
    background-image: url(back1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
header .logo
{
width: 340px;
position: absolute;
float:left;
top: 8%;
}
.hometext
{
text-align: center;
padding-top: 190px;
color: rgba(30, 5, 104, 0.5);
}
.hometext h1{
    font-size: 100px;
    font-style: initial;
}
.hometext p{
    font-size: 50px;
    font-style: italic;
}
header{ 
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0%;
    z-index: 2;


}
header ul{
    list-style: none;
    float: right;
    display: flex;
   }
header ul :hover{
    background-color:whitesmoke;
    color: rgb(186, 130, 238);

}
header ul li{
    list-style-type: style none;
    margin: 50px 0px;
    list-style: none;
    

}
header ul li a{
    text-decoration: none;
    color:#fff;
    padding: 25px;
    border: 1px white;
    text-decoration:none;
    background-color: rgba(30, 5, 104, 0.5);
    margin: 0px;
border-radius: 3px;
}
*{
    margin:0;
    padding:0;
}
body #signupandregistration{
    background-image: url("backsignup.jpg" );
    background-position: center;
    height: 100%;
    width: 100%;
    
    
}
.form{
    background-color: rgba(3, 6, 7, 0.575);
    height: 30em;
    width: 340px;
    height: 480px;
    margin: 15% 40%;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}
.buttonform{
    
    position: relative;
    background: none;
    margin: 80px auto;
    text-align: center;
    
}
.toogle-btn{
    margin: 5px;
    width: 70px;
    height: 30px;
    background-color: rgba(14, 124, 168, 0.384);
    border-radius: 5px;
    font-family: monospace;
}
.toogle-btn:hover
{
background-color: rgba(83, 24, 221, 0.705);
color:rgb(229, 232, 235);
}

.inputtype{
    top:160px;
    text-align: center;
    transition: 0.5s;
    position:absolute;
    width: 280px;
    
}
.inputfield{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid;
    background-color: rgba(12, 58, 66, 0.452);
    color: rgb(255, 253, 253);
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    
}
.check-box{
    margin: 20px;
    text-align: center;
    size: 15px;

}
span{
    font-style: italic;
    align-items: center;
    font-size: large;
}
.btn-submit{
    margin: 10px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(14, 125, 168, 0.616);
    font-family: monospace;

}
.btn-submit:hover{
    background-color: rgba(83, 24, 221, 0.705);
    color: white;
}
#login{
    left: 40px;

}
#register{
    left: 450px;
}
*{
    margin:0;
    padding:0;
}
#about{
    height: 100%;
    width: 100%;
    border-color:1px solid;
    background-image:url(about.jpg);
}
.content1{
    padding-top: 20%;
    padding-left: 30px;
    font-size: 100px;
    text-align:left;
 font-family:'Times New Roman', Times, serif;
 font-size: 50px;
}
.content2{
    padding: 30px 90px; 
}
.content2 h1{
 font-size: 40px;
}
.content2 p{
    padding-left: 8%;
    padding-top: 15px;
    font-size: 20px;
}
*{
    margin:0;
    padding:0;
}
#services{
    height: 100%;
    width: 100%;
}
.part1{
    background-image: url("service2.jpg");
    height: auto;
    width: auto;
}